{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": ["transform-decorators-legacy"]
    },
    "production": {
      "presets": ["transform-decorators-legacy", "react-optimize"]
    }
  }
}
